* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
  margin: 0;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
}
nav {
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15%;
}
.nav-list {
  width: 25%;
}
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.nav-list li {
  padding: 1%;
}

.btn {
  background-color: orange;
}

.img-content {
  width: 50%;
}
img {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .spilter {
    flex-direction: column;
    justify-content: center;
  }
  .spilter .img-content {
    width: 100%;
  }
  h2,
  h1 {
    font-size: 1rem;
  }
  .nav-list {
    width: 60%;
  }
}
